body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: silver;
}

a {
  color: #00b7ff;
}
.card {
  float: left;
  margin: 10px;
  height: 470px;
}
.card-img-top {
  height: 250px;
  width: 250px;
  padding: 17px;
}
.delete,
.update {
  float: left;
  margin-left: 20px;
}

.submit {
  margin-left: 0px;
}
#icon {
  float: left;
  padding-left: 40px;
}
